<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"
      integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/silk-dark.min.css"
      integrity="sha512-AoTqRsed0OzRuAU0XW9oeSqHofIrIc9+NujJpG6Ju+JYSgCFdmlR5BKyzgtFTqxqclj0iWtqLG5xPkQag/Cduw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.1/autosize.min.js"
      integrity="sha512-aBxhlAogg9r6Gtes+dsuqW6IQ4Ee0MtjexckbMNOVdxAfi5NSEd38BNEgFiaBWS6cl67r+8OImzxVKDdmswhnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      hljs.highlightAll();
    </script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form action="/save" method="POST">
      <%- include("_buttons.ejs",{canSave:true})%>
      <div class="wrapper">
        <div class="line-numbers">&gt;</div>
        <textarea autofocus name="value">
<%= locals.value %>
        </textarea>
      </div>
    </form>
    <script>
      autosize(document.querySelector("textarea"));
    </script>
  </body>
</html>
